/* make background black and make all text white*/
body {
  background-color: black;
}
h1, h2, h3, h4, h5, h6, p, a, hr {
  color: white;
}
/* right and left part of the page  */
.right {
  padding-left: calc(50% - 64px);
  width: 50vw;
  font-size: 2vw;
  line-height: 3vw;
}
.left  {
  position: fixed;
  top: 0;
  padding-top: 15vw;
  padding-bottom: 100vw;
  left: calc(40px + 3vw);
  width: 10vw;
  font-size: .4vw;
  line-height: .6vw;
  will-change: transform;
}
/* make padding so that the first text appears in middle instead of top */
.top-padding-article {
  padding-top: 15vw;
}
.top-padding-article-left {
  padding-top: 3vw;
}
/* floating navbar with Articles and Cartoons */
.nav {
  position: fixed;
  top: 0;
  padding-top: 4vw;
  display: flex;
  padding-left: 16vw;
  font-size: 2vw;
  width: 100%;
  background-color: black;
  padding-bottom: 2vw;
}
.nava {
  backdrop-filter: blur(1px);
}
.nava a {
  text-decoration: none;
  margin-left: 20px;
}
.nava-off {
  opacity: 50%;
}
/* logo */
.logo {
  position: fixed;
  top: 3vw;
  left: 3vw;
  filter: invert(100%);
  width: 12vw;
}
/* css for cartoons page */
.cartoons img, h3 {
  width: 80%;
  padding-left: 10%;
  margin-top: 0px;
}
/* wallmag article-box formating */
.article-box img {
  float: right;
  width: 20%;
  padding: 5%;
}
/* making things hidden */
.hidden {
  display: none;
}
/* second nav bar */
.nav2 {
  position: fixed;
  top: 8vw;
  display: flex;
  padding-left: 16vw;
  font-size: 2vw;
  width: 100%;
  background-color: black;
}
/* adding shading featuer in nav */
.nav-shade {
  position: fixed;
  top: 10vw;
  width: 100%;
  height: 2vw;
  background-color: black;
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}
.nav-shade-vaani {
  position: fixed;
  top: 8vw;
  width: 100%;
  height: 2vw;
  background-color: black;
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}
/* different logo css for vaani */
.logo2 {
  position: fixed;
  top: 1vw;
  left: 3vw;
  filter: invert(100%);
  width: 12vw;
}